<launch>
	<arg name="pc_sub_" default="/octomap_point_cloud_centers"/>
	<arg name="ugv_base_frame" default="ugv_base_link"/>
	<arg name="use_tf_pose" default="false"/>

	<node pkg="maps_manager_pkg" type="region_growing_segmentation_node" name="region_growing_segmentation_node" output="screen" >#launch-prefix="gdb -ex run --args"/>
		<param name="world_frame" value="world" />
		<param name="ugv_base_frame" value="$(arg ugv_base_frame)" />
		<param name="debug_rgs" value="true" />
		<param name="latch_topic" value="true" />
		<param name="pc_sub" value="$(arg pc_sub_)"/>
		<param name="use_tf_pose" value="$(arg use_tf_pose)"/>
		<param name="init_pose_x" value="-22.0"/>
		<param name="init_pose_y" value="-48.0"/>
		<param name="init_pose_z" value="-3.25"/>
	</node>

</launch>